body {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 60px;
    font-family: sans-serif;
}

form {
    padding: 2rem;
    border-radius: 10px;
    background-color: #222831;
}

.form-container {
    display: flex; 
    justify-content: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.input {
    border-radius: 10px;
    margin-right: 20px;
}

.span-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

form input,
form button {
    padding: .7rem;
    font-size: 17px;
    border: none;
}

form input {
    background-color: #EDEDED;
}

form button {
    background-color: #346751;
    color: #EDEDED;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

form button:hover {
    filter: contrast(1.2);
}

form button:nth-last-child(1) {
    background-color: #7D0633;
}